<h2>Your question</h2>
<p><em>- <%= params[:question] %></em></p>

<div class="banner">
<h2>Your coach's answer</h2>
<p><em>- <%= @answer %></em></p>
</div>

<%= link_to "( Ask a new question to your coach ! )", ask_path %>
